# Example .env configuration file.
# Copy this file to `.env` and edit as required.

# application log level; valid values are: error, warn, info, http, verbose, debug, silly
# (optional; default: info)
LOG_LEVEL=debug

# i18next debug flag
# (optional; default: false)
I18NEXT_DEBUG=true

# i18n language cookie name
# (optional; default: _gc_lang)
LANG_COOKIE_NAME=_gc_lang
# i18n language cookie domain
# (optional; default: undefined)
LANG_COOKIE_DOMAIN=localhost
# i18n language cookie path
# (optional; default: /)
LANG_COOKIE_PATH=/
# i18n language cookie httpOnly flag
# (optional; default: true)
LANG_COOKIE_HTTP_ONLY=true
# i18n language cookie secure flag
# (optional; default: true)
LANG_COOKIE_SECURE=false

# i18n language querystring key
# (optional; default: lang)
LANG_QUERY_PARAM=lang

# Redis server URL
# (optional; default: redis://localhost)
REDIS_URL=redis://localhost
# Redis server username
# (optional; default undefined)
REDIS_USERNAME=
# Redis server password
# (optional; default undefined)
REDIS_PASSWORD=

# enable client-side javascript; useful for testing progressive enhancement
# (optional; default: true)
JAVASCRIPT_ENABLED=false

# enable mock API calls
# (optional; default: false)
MOCKS_ENABLED=true