@import 'tailwindcss';

@plugin 'tailwindcss-animate';

@theme {
  /*
    Responsive design - Removing default breakpoints
    https://tailwindcss.com/docs/responsive-design#removing-default-breakpoints
    Web Experience Toolkit - Responsive options
    https://wet-boew.github.io/wet-boew-styleguide/design/grids-en.html#responsive
  */
  --breakpoint-*: initial;
  --breakpoint-sm: 768px;
  --breakpoint-md: 992px;
  --breakpoint-lg: 1200px;

  /*
    font-family - Customizing your theme
    https://tailwindcss.com/docs/font-family#customizing-your-theme
  */
  --font-lato: Lato, sans-serif;
}

/*
  Referencing other variables
  https://tailwindcss.com/docs/theme#referencing-other-variables
*/
@theme inline {
  --font-sans: 'Noto Sans', sans-serif;
}

/*
  Upgrade guide - Container configuration
  https://tailwindcss.com/docs/upgrade-guide#container-configuration
*/
@utility container {
  margin-inline: auto;
  padding-inline: 1rem;
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

/*
  Buttons use the default cursor
  https://tailwindcss.com/docs/upgrade-guide#buttons-use-the-default-cursor
*/
@layer base {
  button:not(:disabled),
  [role='button']:not(:disabled) {
    cursor: pointer;
  }
}

@layer base {
  button,
  input,
  optgroup,
  select,
  textarea {
    font-feature-settings: inherit;
    color: inherit;
    font-family: inherit;
    font-size: 100%;
    font-variation-settings: inherit;
    font-weight: inherit;
    line-height: inherit;
    margin: 0;
    padding: 0;
  }

  button,
  select {
    text-transform: none;
  }

  [type='search'] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
  }

  [multiple],
  [type='date'],
  [type='datetime-local'],
  [type='email'],
  [type='month'],
  [type='number'],
  [type='password'],
  [type='search'],
  [type='tel'],
  [type='text'],
  [type='time'],
  [type='url'],
  [type='week'],
  select,
  textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #fff;
    border-radius: 0;
    border-width: 1px;
    font-size: 1rem;
    line-height: 1.5rem;
    padding: 0.5rem 0.75rem;
  }

  [type='checkbox'],
  [type='radio'] {
    --tw-shadow: 0 0 #0000;
    -webkit-appearance: none;
    -moz-appearance: none;
    @apply appearance-none;
    @apply bg-white;
    @apply bg-origin-border;
    @apply bg-origin-border;
    @apply border-gray-500;
    @apply border-black;
    @apply border;
    @apply text-blue-600;
    @apply inline-block;
    @apply shrink-0;
    @apply h-4;
    @apply p-0;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
    -webkit-user-select: none;
    -moz-user-select: none;
    @apply select-none;
    @apply align-middle;
    @apply w-4;
  }

  [type='checkbox']:checked,
  [type='radio']:checked {
    background-color: currentColor;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 0.55em 0.55em;
    border-color: transparent;
  }

  [type='checkbox']:focus,
  [type='radio']:focus {
    --tw-ring-inset: var(--tw-empty, /*!*/ /*!*/);
    --tw-ring-offset-width: 2px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: #1c64f2;
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
    outline: 2px solid transparent;
    outline-offset: 2px;
  }

  [type='checkbox']:checked {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg aria-hidden='true' xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 16 12'%3E%3Cpath stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M1 5.917 5.724 10.5 15 1.5'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 0.55em 0.55em;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }

  [type='radio']:checked {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle cx='8' cy='8' r='3'/%3e%3c/svg%3e");
    background-size: 1em 1em;
    background-color: currentColor;
    background-position: 50%;
    background-repeat: no-repeat;
    border-color: transparent;
  }

  [type='radio'] {
    @apply rounded-full;
  }

  select:not([size]) {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='black' d='m20 9l-8 8l-8-8l1.414-1.414L12 14.172l6.586-6.586z'/%3E%3C/svg%3E");
    background-position: right 0.75rem center;
    background-repeat: no-repeat;
    background-size: 1em 1em;
    padding-right: 2.5rem;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }

  select:invalid {
    @apply text-gray-400;
  }
  option[value=''][disabled] {
    display: none;
  }
  option {
    @apply text-black;
  }
}

@layer components {
  .bg-splash-page {
    background-image: url('/assets/sp-bg-1.e0bf1ea7.jpg');
  }

  .external-link {
    &a:after {
      content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath d='M320 0c-17.7 0-32 14.3-32 32s14.3 32 32 32h82.7L201.4 265.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L448 109.3V192c0 17.7 14.3 32 32 32s32-14.3 32-32V32c0-17.7-14.3-32-32-32H320zM80 32C35.8 32 0 67.8 0 112V432c0 44.2 35.8 80 80 80H400c44.2 0 80-35.8 80-80V320c0-17.7-14.3-32-32-32s-32 14.3-32 32V432c0 8.8-7.2 16-16 16H80c-8.8 0-16-7.2-16-16V112c0-8.8 7.2-16 16-16H192c17.7 0 32-14.3 32-32s-14.3-32-32-32H80z'/%3E%3C/svg%3E");
      display: inline-block;
      height: 0.85rem;
      margin-left: 0.25rem;
      width: 0.85rem;
    }
  }
}

@media print {
  a[href]:after {
    content: ' (' attr(href) ')';
    display: inline;
    height: auto;
    margin-left: auto;
    width: auto;
  }
}
