# Sample configuration file for application-local.yml.
# Copy this file as application-local.yml and customize the values for your local environment.
# application-local.yml is excluded from version control (gitignored).

---

logging:
  level:
    '[ca.gov.dtsstn.cdcp.api]': trace

---

spring:
  security:
    oauth2:
      resourceserver:
        jwt:
          audiences: 00000000-0000-0000-0000-000000000000
          issuer-uri: https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/v2.0
          jwk-set-uri: https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/discovery/v2.0/keys

---

springdoc:
  swagger-ui:
    oauth:
      client-id: api://api.example.com
      scopes: api://api.example.com/.default

---

application:
  security:
    enabled: true
  swagger-ui:
    authentication:
      client-id: api://api.example.com
      authorization-url: https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/authorize
      token-url: https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/token
      scopes:
        '[api://api.example.com/.default]': |
          The .default scope is used to request access to everything the user is
          allowed to do with this API, based on their assigned Azure AD app roles.
